<?xml version="1.0" encoding="utf-8"?>
<namespace name="Spring_Utils_WinAPI">
  <devnotes>
    	<summary>
    	  Declares some Windows API for the framework.
    	</summary>
  </devnotes>
  <const name="VER_NT_WORKSTATION" type="Integer">
    <value>
      $1
    </value>
  </const>
  <const name="VER_NT_DOMAIN_CONTROLLER" type="Integer">
    <value>
      $2
    </value>
  </const>
  <const name="VER_NT_SERVER" type="Integer">
    <value>
      $3
    </value>
  </const>
  <const name="VER_SERVER_NT" type="Cardinal">
    <value>
      $80000000
    </value>
  </const>
  <const name="VER_WORKSTATION_NT" type="Integer">
    <value>
      $40000000
    </value>
  </const>
  <const name="VER_SUITE_SMALLBUSINESS" type="Integer">
    <value>
      $1
    </value>
  </const>
  <const name="VER_SUITE_ENTERPRISE" type="Integer">
    <value>
      $2
    </value>
  </const>
  <const name="VER_SUITE_BACKOFFICE" type="Integer">
    <value>
      $4
    </value>
  </const>
  <const name="VER_SUITE_COMMUNICATIONS" type="Integer">
    <value>
      $8
    </value>
  </const>
  <const name="VER_SUITE_TERMINAL" type="Integer">
    <value>
      $10
    </value>
  </const>
  <const name="VER_SUITE_SMALLBUSINESS_RESTRICTED" type="Integer">
    <value>
      $20
    </value>
  </const>
  <const name="VER_SUITE_EMBEDDEDNT" type="Integer">
    <value>
      $40
    </value>
  </const>
  <const name="VER_SUITE_DATACENTER" type="Integer">
    <value>
      $80
    </value>
  </const>
  <const name="VER_SUITE_SINGLEUSERTS" type="Integer">
    <value>
      $100
    </value>
  </const>
  <const name="VER_SUITE_PERSONAL" type="Integer">
    <value>
      $200
    </value>
  </const>
  <const name="VER_SUITE_BLADE" type="Integer">
    <value>
      $400
    </value>
  </const>
  <const name="VER_SUITE_EMBEDDED_RESTRICTED" type="Integer">
    <value>
      $800
    </value>
  </const>
  <const name="VER_SUITE_SECURITY_APPLIANCE" type="Integer">
    <value>
      $1000
    </value>
  </const>
  <const name="VER_SUITE_STORAGE_SERVER" type="Integer">
    <value>
      $2000
    </value>
  </const>
  <const name="VER_SUITE_COMPUTE_SERVER" type="Integer">
    <value>
      $4000
    </value>
  </const>
  <const name="iphlpapilib" type="string">
    <value>
      iphlpapi.dll
    </value>
  </const>
  <const name="MAX_ADAPTER_DESCRIPTION_LENGTH" type="Integer">
    <value>
      $80
    </value>
  </const>
  <const name="MAX_ADAPTER_NAME_LENGTH" type="Integer">
    <value>
      $100
    </value>
  </const>
  <const name="MAX_ADAPTER_ADDRESS_LENGTH" type="Integer">
    <value>
      $8
    </value>
  </const>
  <const name="DEFAULT_MINIMUM_ENTITIES" type="Integer">
    <value>
      $20
    </value>
  </const>
  <const name="MAX_HOSTNAME_LEN" type="Integer">
    <value>
      $80
    </value>
  </const>
  <const name="MAX_DOMAIN_NAME_LEN" type="Integer">
    <value>
      $80
    </value>
  </const>
  <const name="MAX_SCOPE_ID_LEN" type="Integer">
    <value>
      $100
    </value>
  </const>
  <pointer name="PIP_MASK_STRING" type="IP_ADDRESS_STRING" indircnt="1" />
  <struct name="IP_ADDRESS_STRING">
    <field name="S" visibility="public">
      <array name="S" low="0" high="15">
        <element type="Char" />
      </array>
    </field>
  </struct>
  <pointer name="PIP_ADDRESS_STRING" type="IP_ADDRESS_STRING" indircnt="1" />
  <struct name="IP_MASK_STRING" alias="IP_ADDRESS_STRING" namespace="Spring_Utils_WinAPI">
    <field name="S" visibility="public">
      <array name="S" low="0" high="15">
        <element type="Char" />
      </array>
    </field>
  </struct>
  <struct name="TIpAddressString" alias="IP_ADDRESS_STRING" namespace="Spring_Utils_WinAPI">
    <field name="S" visibility="public">
      <array name="S" low="0" high="15">
        <element type="Char" />
      </array>
    </field>
  </struct>
  <pointer name="PIpAddressString" alias="PIP_MASK_STRING" namespace="Spring_Utils_WinAPI" type="IP_ADDRESS_STRING" indircnt="1" />
  <pointer name="PIP_ADDR_STRING" type="_IP_ADDR_STRING" indircnt="1" />
  <struct name="_IP_ADDR_STRING">
    <field name="Next" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddress" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="IpMask" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="Context" type="Cardinal" visibility="public" />
  </struct>
  <struct name="IP_ADDR_STRING" alias="_IP_ADDR_STRING" namespace="Spring_Utils_WinAPI">
    <field name="Next" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddress" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="IpMask" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="Context" type="Cardinal" visibility="public" />
  </struct>
  <struct name="TIpAddrString" alias="_IP_ADDR_STRING" namespace="Spring_Utils_WinAPI">
    <field name="Next" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddress" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="IpMask" type="IP_ADDRESS_STRING" visibility="public" />
    <field name="Context" type="Cardinal" visibility="public" />
  </struct>
  <pointer name="PIpAddrString" alias="PIP_ADDR_STRING" namespace="Spring_Utils_WinAPI" type="_IP_ADDR_STRING" indircnt="1" />
  <pointer name="PIP_ADAPTER_INFO" type="_IP_ADAPTER_INFO" indircnt="1" />
  <struct name="_IP_ADAPTER_INFO">
    <field name="Next" type="PIP_ADAPTER_INFO" visibility="public" />
    <field name="ComboIndex" type="Cardinal" visibility="public" />
    <field name="AdapterName" visibility="public">
      <array name="AdapterName" low="0" high="259">
        <element type="Char" />
      </array>
    </field>
    <field name="Description" visibility="public">
      <array name="Description" low="0" high="131">
        <element type="Char" />
      </array>
    </field>
    <field name="AddressLength" type="Cardinal" visibility="public" />
    <field name="Address" visibility="public">
      <array name="Address" low="0" high="7">
        <element type="Byte" />
      </array>
    </field>
    <field name="Index" type="Cardinal" visibility="public" />
    <field name="Type_" type="Cardinal" visibility="public" />
    <field name="DhcpEnabled" type="Cardinal" visibility="public" />
    <field name="CurrentIpAddress" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddressList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="GatewayList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="DhcpServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="HaveWins" type="LongBool" visibility="public" />
    <field name="PrimaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="SecondaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="LeaseObtained" type="Integer" visibility="public" />
    <field name="LeaseExpires" type="Integer" visibility="public" />
  </struct>
  <struct name="IP_ADAPTER_INFO" alias="_IP_ADAPTER_INFO" namespace="Spring_Utils_WinAPI">
    <field name="Next" type="PIP_ADAPTER_INFO" visibility="public" />
    <field name="ComboIndex" type="Cardinal" visibility="public" />
    <field name="AdapterName" visibility="public">
      <array name="AdapterName" low="0" high="259">
        <element type="Char" />
      </array>
    </field>
    <field name="Description" visibility="public">
      <array name="Description" low="0" high="131">
        <element type="Char" />
      </array>
    </field>
    <field name="AddressLength" type="Cardinal" visibility="public" />
    <field name="Address" visibility="public">
      <array name="Address" low="0" high="7">
        <element type="Byte" />
      </array>
    </field>
    <field name="Index" type="Cardinal" visibility="public" />
    <field name="Type_" type="Cardinal" visibility="public" />
    <field name="DhcpEnabled" type="Cardinal" visibility="public" />
    <field name="CurrentIpAddress" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddressList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="GatewayList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="DhcpServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="HaveWins" type="LongBool" visibility="public" />
    <field name="PrimaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="SecondaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="LeaseObtained" type="Integer" visibility="public" />
    <field name="LeaseExpires" type="Integer" visibility="public" />
  </struct>
  <struct name="TIpAdapterInfo" alias="_IP_ADAPTER_INFO" namespace="Spring_Utils_WinAPI">
    <field name="Next" type="PIP_ADAPTER_INFO" visibility="public" />
    <field name="ComboIndex" type="Cardinal" visibility="public" />
    <field name="AdapterName" visibility="public">
      <array name="AdapterName" low="0" high="259">
        <element type="Char" />
      </array>
    </field>
    <field name="Description" visibility="public">
      <array name="Description" low="0" high="131">
        <element type="Char" />
      </array>
    </field>
    <field name="AddressLength" type="Cardinal" visibility="public" />
    <field name="Address" visibility="public">
      <array name="Address" low="0" high="7">
        <element type="Byte" />
      </array>
    </field>
    <field name="Index" type="Cardinal" visibility="public" />
    <field name="Type_" type="Cardinal" visibility="public" />
    <field name="DhcpEnabled" type="Cardinal" visibility="public" />
    <field name="CurrentIpAddress" type="PIP_ADDR_STRING" visibility="public" />
    <field name="IpAddressList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="GatewayList" type="_IP_ADDR_STRING" visibility="public" />
    <field name="DhcpServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="HaveWins" type="LongBool" visibility="public" />
    <field name="PrimaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="SecondaryWinsServer" type="_IP_ADDR_STRING" visibility="public" />
    <field name="LeaseObtained" type="Integer" visibility="public" />
    <field name="LeaseExpires" type="Integer" visibility="public" />
  </struct>
  <pointer name="PIpAdapterInfo" alias="PIP_ADAPTER_INFO" namespace="Spring_Utils_WinAPI" type="_IP_ADAPTER_INFO" indircnt="1" />
  <const name="SERVICE_RUNS_IN_SYSTEM_PROCESS" type="Integer">
    <value>
      $1
    </value>
  </const>
  <const name="SERVICE_CONFIG_DESCRIPTION" type="Integer">
    <value>
      $1
    </value>
  </const>
  <const name="SERVICE_CONFIG_FAILURE_ACTIONS" type="Integer">
    <value>
      $2
    </value>
  </const>
  <pointer name="LPSERVICE_DESCRIPTIONA" type="_SERVICE_DESCRIPTIONA" indircnt="1" />
  <struct name="_SERVICE_DESCRIPTIONA">
    <field name="lpDescription" type="PAnsiChar" visibility="public" />
  </struct>
  <struct name="SERVICE_DESCRIPTIONA" alias="_SERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PAnsiChar" visibility="public" />
  </struct>
  <struct name="TServiceDescriptionA" alias="_SERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PAnsiChar" visibility="public" />
  </struct>
  <pointer name="PServiceDescriptionA" alias="LPSERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI" type="_SERVICE_DESCRIPTIONA" indircnt="1" />
  <pointer name="LPSERVICE_DESCRIPTIONW" type="_SERVICE_DESCRIPTIONW" indircnt="1" />
  <struct name="_SERVICE_DESCRIPTIONW">
    <field name="lpDescription" type="PWideChar" visibility="public" />
  </struct>
  <struct name="SERVICE_DESCRIPTIONW" alias="_SERVICE_DESCRIPTIONW" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PWideChar" visibility="public" />
  </struct>
  <struct name="TServiceDescriptionW" alias="_SERVICE_DESCRIPTIONW" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PWideChar" visibility="public" />
  </struct>
  <pointer name="PServiceDescriptionW" alias="LPSERVICE_DESCRIPTIONW" namespace="Spring_Utils_WinAPI" type="_SERVICE_DESCRIPTIONW" indircnt="1" />
  <struct name="SERVICE_DESCRIPTION" alias="_SERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PAnsiChar" visibility="public" />
  </struct>
  <pointer name="LPSERVICE_DESCRIPTION" alias="LPSERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI" type="_SERVICE_DESCRIPTIONA" indircnt="1" />
  <struct name="TServiceDescription" alias="_SERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI">
    <field name="lpDescription" type="PAnsiChar" visibility="public" />
  </struct>
  <pointer name="PServiceDescription" alias="LPSERVICE_DESCRIPTIONA" namespace="Spring_Utils_WinAPI" type="_SERVICE_DESCRIPTIONA" indircnt="1" />
  <pointer name="LPSERVICE_STATUS_PROCESS" type="_SERVICE_STATUS_PROCESS" indircnt="1" />
  <struct name="_SERVICE_STATUS_PROCESS">
    <field name="dwServiceType" type="Cardinal" visibility="public" />
    <field name="dwCurrentState" type="Cardinal" visibility="public" />
    <field name="dwControlsAccepted" type="Cardinal" visibility="public" />
    <field name="dwWin32ExitCode" type="Cardinal" visibility="public" />
    <field name="dwServiceSpecificExitCode" type="Cardinal" visibility="public" />
    <field name="dwCheckPoint" type="Cardinal" visibility="public" />
    <field name="dwWaitHint" type="Cardinal" visibility="public" />
    <field name="dwProcessId" type="Cardinal" visibility="public" />
    <field name="dwServiceFlags" type="Cardinal" visibility="public" />
  </struct>
  <struct name="SERVICE_STATUS_PROCESS" alias="_SERVICE_STATUS_PROCESS" namespace="Spring_Utils_WinAPI">
    <field name="dwServiceType" type="Cardinal" visibility="public" />
    <field name="dwCurrentState" type="Cardinal" visibility="public" />
    <field name="dwControlsAccepted" type="Cardinal" visibility="public" />
    <field name="dwWin32ExitCode" type="Cardinal" visibility="public" />
    <field name="dwServiceSpecificExitCode" type="Cardinal" visibility="public" />
    <field name="dwCheckPoint" type="Cardinal" visibility="public" />
    <field name="dwWaitHint" type="Cardinal" visibility="public" />
    <field name="dwProcessId" type="Cardinal" visibility="public" />
    <field name="dwServiceFlags" type="Cardinal" visibility="public" />
  </struct>
  <struct name="TServiceStatusProcess" alias="_SERVICE_STATUS_PROCESS" namespace="Spring_Utils_WinAPI">
    <field name="dwServiceType" type="Cardinal" visibility="public" />
    <field name="dwCurrentState" type="Cardinal" visibility="public" />
    <field name="dwControlsAccepted" type="Cardinal" visibility="public" />
    <field name="dwWin32ExitCode" type="Cardinal" visibility="public" />
    <field name="dwServiceSpecificExitCode" type="Cardinal" visibility="public" />
    <field name="dwCheckPoint" type="Cardinal" visibility="public" />
    <field name="dwWaitHint" type="Cardinal" visibility="public" />
    <field name="dwProcessId" type="Cardinal" visibility="public" />
    <field name="dwServiceFlags" type="Cardinal" visibility="public" />
  </struct>
  <pointer name="PServiceStatusProcess" alias="LPSERVICE_STATUS_PROCESS" namespace="Spring_Utils_WinAPI" type="_SERVICE_STATUS_PROCESS" indircnt="1" />
  <const name="SC_ENUM_PROCESS_INFO" type="_SC_ENUM_TYPE">
    <value>
      SC_ENUM_PROCESS_INFO
    </value>
  </const>
  <enum name="_SC_ENUM_TYPE">
    <element name="SC_ENUM_PROCESS_INFO" />
  </enum>
  <enum name="SC_ENUM_TYPE" alias="_SC_ENUM_TYPE" namespace="Spring_Utils_WinAPI">
    <element name="SC_ENUM_PROCESS_INFO" />
  </enum>
  <pointer name="LPENUM_SERVICE_STATUS_PROCESSA" type="_ENUM_SERVICE_STATUS_PROCESSA" indircnt="1" />
  <struct name="_ENUM_SERVICE_STATUS_PROCESSA">
    <field name="lpServiceName" type="PAnsiChar" visibility="public" />
    <field name="lpDisplayName" type="PAnsiChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <struct name="ENUM_SERVICE_STATUS_PROCESSA" alias="_ENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PAnsiChar" visibility="public" />
    <field name="lpDisplayName" type="PAnsiChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <struct name="TEnumServiceStatusProcessA" alias="_ENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PAnsiChar" visibility="public" />
    <field name="lpDisplayName" type="PAnsiChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <pointer name="PEnumServiceStatusProcessA" alias="LPENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI" type="_ENUM_SERVICE_STATUS_PROCESSA" indircnt="1" />
  <pointer name="LPENUM_SERVICE_STATUS_PROCESSW" type="_ENUM_SERVICE_STATUS_PROCESSW" indircnt="1" />
  <struct name="_ENUM_SERVICE_STATUS_PROCESSW">
    <field name="lpServiceName" type="PWideChar" visibility="public" />
    <field name="lpDisplayName" type="PWideChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <struct name="ENUM_SERVICE_STATUS_PROCESSW" alias="_ENUM_SERVICE_STATUS_PROCESSW" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PWideChar" visibility="public" />
    <field name="lpDisplayName" type="PWideChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <struct name="TEnumServiceStatusProcessW" alias="_ENUM_SERVICE_STATUS_PROCESSW" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PWideChar" visibility="public" />
    <field name="lpDisplayName" type="PWideChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <pointer name="PEnumServiceStatusProcessW" alias="LPENUM_SERVICE_STATUS_PROCESSW" namespace="Spring_Utils_WinAPI" type="_ENUM_SERVICE_STATUS_PROCESSW" indircnt="1" />
  <struct name="ENUM_SERVICE_STATUS_PROCESS" alias="_ENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PAnsiChar" visibility="public" />
    <field name="lpDisplayName" type="PAnsiChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <pointer name="LPENUM_SERVICE_STATUS_PROCESS" alias="LPENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI" type="_ENUM_SERVICE_STATUS_PROCESSA" indircnt="1" />
  <struct name="TEnumServiceStatusProcess" alias="_ENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI">
    <field name="lpServiceName" type="PAnsiChar" visibility="public" />
    <field name="lpDisplayName" type="PAnsiChar" visibility="public" />
    <field name="ServiceStatusProcess" type="_SERVICE_STATUS_PROCESS" visibility="public" />
  </struct>
  <pointer name="PEnumServiceStatusProcess" alias="LPENUM_SERVICE_STATUS_PROCESSA" namespace="Spring_Utils_WinAPI" type="_ENUM_SERVICE_STATUS_PROCESSA" indircnt="1" />
  <function name="GetAdaptersInfo" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="pAdapterInfo" type="PIP_ADAPTER_INFO" />
      <parameter name="pOutBufLen" type="Cardinal" paramflags="var" />
      <retval type="Cardinal" />
    </parameters>
  </function>
  <function name="QueryServiceConfig2A" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hService" type="Cardinal" />
      <parameter name="dwInfoLevel" type="Cardinal" />
      <parameter name="lpBuffer" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="QueryServiceConfig2W" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hService" type="Cardinal" />
      <parameter name="dwInfoLevel" type="Cardinal" />
      <parameter name="lpBuffer" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="QueryServiceConfig2" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hService" type="Cardinal" />
      <parameter name="dwInfoLevel" type="Cardinal" />
      <parameter name="lpBuffer" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="EnumServicesStatusExA" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hSCManager" type="Cardinal" />
      <parameter name="InfoLevel" type="_SC_ENUM_TYPE" />
      <parameter name="dwServiceType" type="Cardinal" />
      <parameter name="dwServiceState" type="Cardinal" />
      <parameter name="lpServices" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <parameter name="lpServicesReturned" type="Cardinal" paramflags="var" />
      <parameter name="lpResumeHandle" type="Cardinal" paramflags="var" />
      <parameter name="pszGroupName" type="PAnsiChar" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="EnumServicesStatusExW" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hSCManager" type="Cardinal" />
      <parameter name="InfoLevel" type="_SC_ENUM_TYPE" />
      <parameter name="dwServiceType" type="Cardinal" />
      <parameter name="dwServiceState" type="Cardinal" />
      <parameter name="lpServices" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <parameter name="lpServicesReturned" type="Cardinal" paramflags="var" />
      <parameter name="lpResumeHandle" type="Cardinal" paramflags="var" />
      <parameter name="pszGroupName" type="PWideChar" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="EnumServicesStatusEx" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="hSCManager" type="Cardinal" />
      <parameter name="InfoLevel" type="_SC_ENUM_TYPE" />
      <parameter name="dwServiceType" type="Cardinal" />
      <parameter name="dwServiceState" type="Cardinal" />
      <parameter name="lpServices" type="Byte" paramflags="var" />
      <parameter name="cbBufSize" type="Cardinal" />
      <parameter name="pcbBytesNeeded" type="Cardinal" paramflags="var" />
      <parameter name="lpServicesReturned" type="Cardinal" paramflags="var" />
      <parameter name="lpResumeHandle" type="Cardinal" paramflags="var" />
      <parameter name="pszGroupName" type="PAnsiChar" />
      <retval type="LongBool" />
    </parameters>
  </function>
  <function name="ConvertSidToStringSid" visibility="public" callconv="stdcall">
    <parameters>
      <parameter name="sid" type="Pointer" />
      <parameter name="stringSid" type="PWideChar" paramflags="var" />
      <retval type="LongBool" />
    </parameters>
  </function>
</namespace>
