<?xml version="1.0" encoding="utf-8"?>
<namespace name="Spring_Cryptography_Utils">
  <function name="Endian" visibility="public">
    <parameters>
      <parameter name="x" type="Cardinal" />
      <retval type="Cardinal" />
    </parameters>
  </function>
  <function name="Endian64" visibility="public">
    <parameters>
      <parameter name="x" type="Int64" />
      <retval type="Int64" />
    </parameters>
  </function>
  <function name="Rol" visibility="public">
    <parameters>
      <parameter name="x" type="Cardinal" />
      <parameter name="y" type="Byte" />
      <retval type="Cardinal" />
    </parameters>
  </function>
  <function name="Ror" visibility="public">
    <parameters>
      <parameter name="x" type="Cardinal" />
      <parameter name="y" type="Byte" />
      <retval type="Cardinal" />
    </parameters>
  </function>
  <function name="Ror64" visibility="public">
    <parameters>
      <parameter name="x" type="Int64" />
      <parameter name="y" type="Byte" />
      <retval type="Int64" />
    </parameters>
  </function>
</namespace>
